body {
display: flex;
justify-content: centre;
align-items: center;
height: 100vh;
margin: 0;
background: rgb(78, 151, 180);
font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik Bubbles', cursive;
}

.card {
    background: #4d87b4;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;

}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 2em;
    width: 2.5em;
    outline: none;
}
input.search bar {
 border: none;   
 outline

}

.colOne {
	background-color: white;
	/* darkkhaki */
}
.colTwo {
	background-color: rgb(255, 255, 255);
}
.histBtnRow {
	margin-top: 5px;
	margin-bottom: 5px;
}
.green{
  background-color: lightgreen;
}
.yellow{
  background-color: yellow;
}
.orange{
  background-color: orange;
}
.red{
  background-color: red;
}
.purple{
  background-color: purple;
}
.icons {
	height: 70px;
	width: 70px;
}
.cardTodayDate {
	font-size: 20px;
}